In [259]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, NoSuchWindowException

# Question 1

In [88]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.shine.com/")

In [89]:
# Click the close button
wait = WebDriverWait(driver, 16)

close_button = wait.until(EC.visibility_of_element_located((By.XPATH, '/html/body/div[1]/div[2]/div/div/button')))
close_button.click()

In [90]:
# Click the search button
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/header[1]/div[3]/div/div/div[1]/div/input")
search_button.click()

In [92]:
# Enter "Data Analyst" in the "Skill, Designations, Companies" field
skills_field = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
skills_field.send_keys("Data Analyst")

In [93]:
# Enter "Bangalore" in the "enter the location" field
location_field = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location_field.send_keys("Bangalore")

In [94]:
# Click the search button
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search_button.click()

In [95]:
# Create Lists
job_titles = []
job_locations = []
company_names = []
experience_required = []

In [96]:
# Scrape the data for the first 10 jobs

total_listings = 20

for i in range(1, min(11, total_listings + 1)):
    job_title_element = driver.find_element(By.XPATH, f"(//h2[@itemprop='name'])[{i}]")
    job_titles.append(job_title_element.text)

    job_location_element = driver.find_element(By.XPATH, f"(//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2'])[{i}]")
    job_locations.append(job_location_element.text)

    company_name_element = driver.find_element(By.XPATH, f"(//div[@class='jobCard_jobCard_cName__mYnow'])[{i}]")
    company_names.append(company_name_element.text)

    experience_required_element = driver.find_element(By.XPATH, f"(//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t'])[{i}]")
    experience_required.append(experience_required_element.text)

In [97]:
# Create a dataframe from the data
data = {
    'Job Title': job_titles,
    'Job Location': job_locations,
    'Company Name': company_names,
    'Experience Required': experience_required
}

In [98]:
# Display DataFrame

df = pd.DataFrame(data)

df

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,Bangalore,acme services private limited,2 to 5 Yrs
1,Data Analyst,Bangalore,acme services private limited,2 to 5 Yrs
2,Data Analyst,Bangalore\n+1,orcapod consulting services pvt. lt...,2 to 4 Yrs
3,We have requirement for Data Analyst - Associa...,Bangalore,pricewaterhousecoopers (pwc),4 to 6 Yrs
4,Data Analyst-Bangalore,Bangalore\n+1,acura solutions.,4 to 6 Yrs
5,Cloud/D&A/Microsoft/AI - Data Analyst,Bangalore,vega intellisoft private limited,4 to 8 Yrs
6,Endurance Data Analyst,Bangalore,mercede,1 to 5 Yrs
7,Consultant - Data Analyst - Data Analytics,Bangalore,pylon management consulting,4 to 5 Yrs
8,We have requirement for Client Data Analyst,Bangalore,jpmorgan,5 to 8 Yrs
9,Urgent Requirement for Reference Data Analyst ...,Bangalore,jpmorgan,2 to 4 Yrs

In [99]:
# Quit the browser
driver.quit()

# Question 2

In [132]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.shine.com/")

In [133]:
# Click the close button
wait = WebDriverWait(driver, 16)

close_button = wait.until(EC.visibility_of_element_located((By.XPATH, '/html/body/div[1]/div[2]/div/div/button')))
close_button.click()

In [134]:
# Click the search button
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/header[1]/div[3]/div/div/div[1]/div/input")
search_button.click()

In [135]:
# Enter "Data Scientist" in the "Skill, Designations, Companies" field
skills_field = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
skills_field.send_keys("Data Scientist")

In [136]:
# Enter "Bangalore" in the "enter the location" field
location_field = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location_field.send_keys("Bangalore")

In [137]:
# Click the search button
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search_button.click()

In [138]:
# Create Lists
job_titles = []
job_locations = []
company_names = []

In [139]:
# Scrape the data for the first 10 jobs

total_listings = 20

for i in range(1, min(11, total_listings + 1)):
    job_title_element = driver.find_element(By.XPATH, f"(//h2[@itemprop='name'])[{i}]")
    job_titles.append(job_title_element.text)

    job_location_element = driver.find_element(By.XPATH, f"(//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2'])[{i}]")
    job_locations.append(job_location_element.text)

    company_name_element = driver.find_element(By.XPATH, f"(//div[@class='jobCard_jobCard_cName__mYnow'])[{i}]")
    company_names.append(company_name_element.text)

In [140]:
# Create a dataframe from the data
data = {
    'Job Title': job_titles,
    'Job Location': job_locations,
    'Company Name': company_names,
}

In [141]:
# Display DataFrame

df = pd.DataFrame(data)

df

,Job Title,Job Location,Company Name
0,Hiring For Data Scientist,Bangalore\n+15,niharika enterprises
1,Data Scientist,Bangalore,acme services private limited
2,Data Scientist,Bangalore,acme services private limited
3,"Data Scientist - (BERT, NLP), Kubeflow (or) ML...",Bangalore\n+7,gfl recruitment private limited
4,Data Scientist Senior,Bangalore,fidelity national information servi...
5,BGSW Sr Data Scientist Template,Bangalore,bosch group
6,Urgent applicants for Data Scientist for Batte...,Bangalore,bosch group
7,Data Scientist Architect,Bangalore,fidelity national information servi...
8,CCB - Risk Data Scientist - Senior Associate,Bangalore,jpmorgan
9,Sr Data scientist,Bangalore,schneider electric

In [142]:
# Quit the browser
driver.quit()

# Question 3

In [100]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.shine.com/")

In [101]:
# Click the close button
wait = WebDriverWait(driver, 16)

close_button = wait.until(EC.visibility_of_element_located((By.XPATH, '/html/body/div[1]/div[2]/div/div/button')))
close_button.click()

In [102]:
# Click the search button
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/header[1]/div[3]/div/div/div[1]/div/input")
search_button.click()

In [103]:
# Enter "Data Scientist" in the "Skill, Designations, Companies" field
skills_field = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
skills_field.send_keys("Data Scientist")

In [104]:
# Click the search button
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search_button.click()

In [76]:
# Click the close button
wait = WebDriverWait(driver, 16)

close2_button = wait.until(EC.visibility_of_element_located((By.XPATH, '/html/body/div[1]/div[1]/div[2]/div/div/button')))
close2_button.click()

In [112]:
# Click the location button
location_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button")
location_button.click()

In [114]:
# Click the Delhi button
delhi_button = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[7]/span/label')
delhi_button.click()

In [115]:
# Click the Show Results button
sresults_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label")
sresults_button.click()

In [119]:
# Click the salary button
salary_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button")
salary_button.click()

In [124]:
# Click the three/five button
three_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
three_button.click()

In [126]:
# Click the Show Results button
sresults2_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
sresults2_button.click()

In [127]:
# Create Lists
job_titles = []
job_locations = []
company_names = []
experience_required = []

In [128]:
# Scrape the data for the first 10 jobs

total_listings = 20

for i in range(1, min(11, total_listings + 1)):
    job_title_element = driver.find_element(By.XPATH, f"(//h2[@itemprop='name'])[{i}]")
    job_titles.append(job_title_element.text)

    job_location_element = driver.find_element(By.XPATH, f"(//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2'])[{i}]")
    job_locations.append(job_location_element.text)

    company_name_element = driver.find_element(By.XPATH, f"(//div[@class='jobCard_jobCard_cName__mYnow'])[{i}]")
    company_names.append(company_name_element.text)

    experience_required_element = driver.find_element(By.XPATH, f"(//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t'])[{i}]")
    experience_required.append(experience_required_element.text)

In [129]:
# Create a dataframe from the data
data = {
    'Job Title': job_titles,
    'Job Location': job_locations,
    'Company Name': company_names,
    'Experience Required': experience_required
}

In [130]:
# Display DataFrame

df = pd.DataFrame(data)

df

,Job Title,Job Location,Company Name,Experience Required
0,Req. For Data Scientist -Reputed Data Analytic...,Delhi,seven consultancy,2 to 6 Yrs
1,For Senior Data Scientist-Reputed IT Industry,Delhi,seven consultancy,4 to 8 Yrs
2,Req. now Data Scientist,Delhi,seven consultancy,3 to 5 Yrs
3,Req. post for Junior AI Data Scientist-Reputed...,Delhi,seven consultancy,1 to 3 Yrs
4,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
5,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
6,Data Scientist,Delhi,srinsoft technologies,3 to 5 Yrs
7,Sr Data Scientist,Delhi,target corporation india pvt ltd,1 to 4 Yrs
8,Mahindra Comviva - Data Scientist,Delhi\n+2,comviva,2 to 5 Yrs
9,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs

In [131]:
# Quit the browser
driver.quit()

# Question 4

In [143]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.flipkart.com/")

In [144]:
# Click the close button
close_button = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close_button.click()

In [145]:
# Enter "sunglasses" in the search field and click the search icon
search_field = driver.find_element(By.CLASS_NAME, "_3704LK")
search_field.send_keys("sunglasses")

In [146]:
search_field.send_keys(Keys.RETURN)

In [186]:
# Create lists

brands = []
product_descriptions = []
prices = []
percents_off = []

In [187]:
# Scrape the data for the first 100 sunglasses brand

start = 0
end = 3
maxi = 100

for page in range(start, end):
    while len(percents_off) < maxi:
        try:
            wait = WebDriverWait(driver, 10)
            brand = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, '_2WkVRV')))
            for i in brand:
                brands.append(i.text)
                if len(brands) == maxi:
                    break
            prod = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, 'IRpwTa')))
            for i in prod:
                product_descriptions.append(i.text)
                if len(product_descriptions) == maxi:
                    break
            price = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, '_30jeq3')))
            for i in price:
                prices.append(i.text)
                if len(prices) == maxi:
                    break
            percent = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, '_3Ay6Sb')))
            for i in percent:
                percents_off.append(i.text)
                if len(percents_off) == maxi:
                    break
            next_button = wait.until(EC.element_to_be_clickable((By.CLASS_NAME, '_1LKTO3')))
            next_button.click()
            time.sleep(5)
        except (NoSuchElementException, NoSuchWindowException):
            driver.refresh()
            time.sleep(5)

In [188]:
# Create a dataframe of the scraped data
data = {
    'Brand': brands,
    'Product Description': product_descriptions,
    'Price': prices,
    'Percent Off': percents_off
}

In [189]:
df = pd.DataFrame(data)

In [190]:
df

,Brand,Product Description,Price,Percent Off
0,Elligator,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹149,87% off
1,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹211,64% off
2,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹259,80% off
3,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹688,72% off
4,NuVew,UV Protection Aviator Sunglasses (57),₹125,83% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹258,63% off
96,Fastrack,UV Protection Aviator Sunglasses (58),₹449,77% off
97,PIRASO,UV Protection Butterfly Sunglasses (60),₹781,60% off
98,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹284,81% off
99,VINCENT CHASE,UV Protection Round Sunglasses (47),₹259,80% off

In [191]:
# Quit the browser
driver.quit()

# Question 5

In [192]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [193]:
# Create the lists

ratings = []
review_summaries = []
full_reviews = []

In [198]:
# Scrape the data for the first 100 reviews of iPhone

start = 0
end = 11
maxi = 100

for page in range(start, end):
    while len(full_reviews) < maxi:
        try:
            wait = WebDriverWait(driver, 10)
            rating = wait.until(EC.presence_of_all_elements_located((By.XPATH, "//div[@class='_3LWZlK _1BLPMq']")))
            for i in rating:
                ratings.append(i.text)
                if len(ratings) == maxi:
                    break
            summary = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, '_2-N8zT')))
            for i in summary:
                review_summaries.append(i.text)
                if len(review_summaries) == maxi:
                    break
            full = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, 't-ZTKy')))
            for i in full:
                full_reviews.append(i.text)
                if len(full_reviews) == maxi:
                    break
            next_button = wait.until(EC.element_to_be_clickable((By.CLASS_NAME, '_1LKTO3')))
            next_button.click()
            time.sleep(5)
        except (NoSuchElementException, NoSuchWindowException):
            driver.refresh()
            time.sleep(5)

In [199]:
# Create a dataframe of the scraped data
data = {
    'Rating': ratings,
    'Review Summary': review_summaries,
    'Full Review': full_reviews
}

In [200]:
df = pd.DataFrame(data)
df

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Highly recommended,"Amazing camera quality as expected, battery al..."
98,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
99,5,Perfect product!,It is just awesome mobile for this price from ...

In [201]:
# Quit the browser
driver.quit()

# Question 6

In [203]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.flipkart.com/")

In [204]:
# Click the close button
close_button = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close_button.click()

In [205]:
# Enter "sneakers" in the search field and click the search icon
search_field = driver.find_element(By.CLASS_NAME, "_3704LK")
search_field.send_keys("sneakers")

In [206]:
search_field.send_keys(Keys.RETURN)

In [207]:
# Create lists

brands = []
product_descriptions = []
prices = []

In [212]:
# Scrape the data for the first 100 sunglasses brand

start = 0
end = 3
maxi = 100

for page in range(start, end):
    while len(prices) < maxi:
        try:
            wait = WebDriverWait(driver, 10)
            brand = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, '_2WkVRV')))
            for i in brand:
                brands.append(i.text)
                if len(brands) == maxi:
                    break
            prod = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, 'IRpwTa')))
            for i in prod:
                product_descriptions.append(i.text)
                if len(product_descriptions) == maxi:
                    break
            price = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, '_30jeq3')))
            for i in price:
                prices.append(i.text)
                if len(prices) == maxi:
                    break
            next_button = wait.until(EC.element_to_be_clickable((By.CLASS_NAME, '_1LKTO3')))
            next_button.click()
            time.sleep(5)
        except (NoSuchElementException, NoSuchWindowException):
            driver.refresh()
            time.sleep(5)

In [213]:
# Create a dataframe of the scraped data
data = {
    'Brand': brands,
    'Product Description': product_descriptions,
    'Price': prices,
    'Percent Off': percents_off
}

In [214]:
df = pd.DataFrame(data)
df

,Brand,Product Description,Price,Percent Off
0,New Balance,500 Sneakers For Men,"₹4,670",87% off
1,New Balance,9060 Sneakers For Men,"₹23,999",64% off
2,Labbin,Sneakers For Men,₹349,80% off
3,PUMA,Hustle V2 Sneakers For Men,"₹1,379",72% off
4,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,₹479,83% off
...,...,...,...,...
95,HRX by Hrithik Roshan,HRXLB-2C Sneakers For Men,₹229,63% off
96,Magnolia,Sneakers For Men,₹499,77% off
97,U.S. POLO ASSN.,PANAL Sneakers For Men,₹399,60% off
98,Layasa,Sneakers For Men,₹299,81% off
99,PUMA,Hustle V2 Sneakers For Men,"₹1,374",80% off

In [215]:
# Quit the browser
driver.quit()

# Question 7

In [217]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.amazon.in/")

In [219]:
# Enter "Laptop" in the search field and click the search icon
search_field = driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_field.send_keys("Laptop")
search_field.send_keys(Keys.RETURN)

In [221]:
# Set the CPU Type filter to "Intel Core i7"
cpu_filter = WebDriverWait(driver, 10).until(
    EC.element_to_be_clickable((By.XPATH, "//span[text()='Intel Core i7']")))
cpu_filter.click()

In [223]:
# Create lists

titles = []
ratings = []
prices = []

In [225]:
# Scrape the data for the first 10 laptops

for i in range(10):
    title = driver.find_element(By.XPATH, f"(//span[@class='a-size-medium a-color-base a-text-normal'])[{i+1}]")
    titles.append(title.text)
    
    rating = driver.find_element(By.XPATH, f"(//div[@class='a-section a-spacing-none a-spacing-top-micro']//div[@class='a-row a-size-small'])[{i+1}]")
    ratings.append(rating.text)
    
    price = driver.find_element(By.XPATH, f"(//span[@class='a-price-whole'])[{i+1}]")
    prices.append(price.text)

In [226]:
# Create a dataframe of the scraped data
data = {
    'Title': titles,
    'Rating': ratings,
    'Price': prices
}

In [227]:
df = pd.DataFrame(data)
df

                                               Title Rating     Price
0  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...      6    70,990
1  Acer Predator Helios Neo 16 Gaming Laptop 13th...     18  1,29,990
2  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...     68    98,990
3  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...      4    79,990
4  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...     10  1,15,990
5  MSI Thin GF63, Intel 12th Gen. i7-12650H, 40CM...    326    94,990
6  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...    492  1,03,990
7  HP Victus Gaming Latest 12th Gen Intel Core i7...     80  1,01,278
8  Dell G15-5530 Gaming Laptop, Intel Core i7-136...    163  1,31,860
9  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    118    84,999

In [228]:
# Quit the browser
driver.quit()

# Question 8

In [252]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.azquotes.com/")

In [253]:
# Click the top1000 button
top1000 = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a")
top1000.click()

In [254]:
# Create lists

quotes = []
authors = []
types_of_quotes = []

In [255]:
start = 0
end = 101
maxi = 100

for page in range(start, end):
    while len(types_of_quotes) < maxi:
        try:
            wait = WebDriverWait(driver, 10)
            quote = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, 'title')))
            for i in quote:
                quotes.append(i.text)
                if len(quotes) == maxi:
                    break
            auth = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, 'author')))
            for i in auth:
                authors.append(i.text)
                if len(authors) == maxi:
                    break
            tag = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, 'tags')))
            for i in tag:
                types_of_quotes.append(i.text)
                if len(types_of_quotes) == maxi:
                    break
        except (NoSuchElementException, NoSuchWindowException):
            driver.refresh()
            time.sleep(5)

In [256]:
# Create a dataframe of the scraped data
data = {
    'Quote': quotes,
    'Author': authors,
    'Type of Quote': types_of_quotes
}

In [261]:
df = pd.DataFrame(data)
df

,Quote,Author,Type of Quote
0,Authors:,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,The essence of strategy is choosing what not t...,Golda Meir,"Inspiration, Past, Trying"
2,One cannot and must not try to erase the past ...,Theodore Roosevelt,"Country, Peace, War"
3,Patriotism means to stand by the country. It d...,Nelson Mandela,"Inspirational, Motivational, Death"
4,Death is something inevitable. When a man has ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,An optimist stays up until midnight to see the...,Hunter S. Thompson,"Music, Sports, Hunting"
96,"When the going gets weird, the weird turn pro.",Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,When a train goes through a tunnel and it gets...,Dalai Lama,"Inspirational, Funny, Change"
98,If you think you are too small to make a diffe...,Mother Teresa,"Success, God, Mother"
99,"God doesn't require us to succeed, he only req...",Norman Vincent Peale,"Inspirational, Motivational, Change"

In [262]:
# Quit the browser
driver.quit()

# Question 9

In [265]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.jagranjosh.com/")

In [266]:
# Click the gk button
gk = driver.find_element(By.XPATH, "/html/body/div[3]/nav/div[3]/div/ul/li[8]/a")
gk.click()

In [267]:
# Click the pms button
pms = driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
pms.click()

In [276]:
# Create lists

names = []
born_deads = []
terms_of_office = []
remarks = []

In [282]:
# Get all the rows in the table
rows = driver.find_elements(By.XPATH, "//table[@class='table-box']//tbody/tr")

# Scrape the data for each row
for row in rows:
    # Get the name
    name = row.find_element(By.XPATH, ".//td[1]")
    names.append(name.text)

    # Get the born-dead
    born_dead = row.find_element(By.XPATH, ".//td[2]")
    born_deads.append(born_dead.text)

    # Get the term of office
    term_of_office = row.find_element(By.XPATH, ".//td[3]")
    terms_of_office.append(term_of_office.text)

    # Get the remarks
    remark = row.find_element(By.XPATH, ".//td[4]")
    remarks.append(remark.text)

In [283]:
# Create a dataframe of the scraped data
data = {
    'Name': names,
    'Born-Dead': born_deads,
    'Term of Office': terms_of_office,
    'Remarks': remarks
}

In [284]:
df = pd.DataFrame(data)
df

Empty DataFrame
Columns: [Name, Born-Dead, Term of Office, Remarks]
Index: []

In [286]:
# Quit the browser
driver.quit()

# Question 10

In [289]:
# Set up the driver
driver = webdriver.Chrome()


# Load the webpage
driver.get("https://www.motor1.com/")

In [290]:
# Click the close button
wait = WebDriverWait(driver, 16)

close_button = wait.until(EC.visibility_of_element_located((By.XPATH, '/html/body/div[13]/div[2]/div/div/div[2]/div/div/button')))
close_button.click()

In [295]:
# Click the search button
search_button = driver.find_element(By.XPATH, "/html/body/div[3]/div[2]/div/div/div[3]/div/div/button")
search_button.click()

In [296]:
# Enter "50 most expensive cars" in search field
skills_field = driver.find_element(By.XPATH, "/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input")
skills_field.send_keys("50 most expensive cars")

In [297]:
# Click the search2 button
search2_button = driver.find_element(By.XPATH, "/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search2_button.click()

In [305]:
# Click the article button
article = driver.find_element(By.XPATH, "/html/body/div[3]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a")
article.click()

In [334]:
# Create lists
car_names = []
prices = []

In [336]:
name = wait.until(EC.presence_of_all_elements_located((By.XPATH, "I DON'T KNOW")))
price = wait.until(EC.presence_of_all_elements_located((By.XPATH, "I DON'T KNOW")))

# Extract the text content
car_names = [name.text for name in name]
prices = [price.text for price in price]

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression I DON'T KNOW because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string 'I DON'T KNOW' is not a valid XPath expression.
  (Session info: chrome=114.0.5735.91)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0102A813+48355]
	(No symbol) [0x00FBC4B1]
	(No symbol) [0x00EC5358]
	(No symbol) [0x00EC87A1]
	(No symbol) [0x00EC99E1]
	(No symbol) [0x00EC9A80]
	(No symbol) [0x00EF061C]
	(No symbol) [0x00EF0B3B]
	(No symbol) [0x00F1E26C]
	(No symbol) [0x00F0A784]
	(No symbol) [0x00F1C922]
	(No symbol) [0x00F0A536]
	(No symbol) [0x00EE82DC]
	(No symbol) [0x00EE93DD]
	GetHandleVerifier [0x0128AABD+2539405]
	GetHandleVerifier [0x012CA78F+2800735]
	GetHandleVerifier [0x012C456C+2775612]
	GetHandleVerifier [0x010B51E0+616112]
	(No symbol) [0x00FC5F8C]
	(No symbol) [0x00FC2328]
	(No symbol) [0x00FC240B]
	(No symbol) [0x00FB4FF7]
	BaseThreadInitThunk [0x75977D59+25]
	RtlInitializeExceptionChain [0x7782B74B+107]
	RtlClearBits [0x7782B6CF+191]

In [ ]:
print(len(names), len(prices))

In [323]:
# Create a dataframe of the scraped data
data = {
    'Car Name': car_names,
    'Price': prices
}

In [326]:
df = pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

In [131]:
# Quit the browser
driver.quit()